@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
    flex: 1;
    padding: 0px 15%;
    flex-wrap: wrap;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

header .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.links {
    display: flex;
    gap: 20px;
}

.header_content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 100px;
    flex-wrap: wrap;
}

.header_content .left {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    min-width: 40%;
}

header h1 {
    color: #F9FAF8;
    font-size: 60px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    padding-right: 100px;
}

header p{
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 400;
}

.header_content .right {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header img {
    max-width: 600px;
    border: 5px solid #E5E7EB;
    border-radius: 10px;
}


header a {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

.content {
    flex: 1;
}

.section_1 {
    padding: 50px 0;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.section_2 {
    background-color: #E5E7EB;
    padding: 100px 20%;
    display: flex;
    flex-direction: column;
}

.section_2 p:nth-child(1) {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.section_2 p:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
    padding: 0 10%;
}

.section_3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call_action {
    width: 65%;
    margin: 100px 0;
    padding: 50px 100px;
}

.call_action .left {
    flex: 3;
}

.call_action .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_1 h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 10px 20px;
    border: 3px solid #E5E7EB;
    border-radius: 5%;
}

.call_action {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    border-radius: 10px;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 30px 0;
}

.pic {
    height: 150px;
    width: 150px;
    border: solid black 5px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic img {
    width: 80%;
}

.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p {
    text-align: center;
}